<div *ngIf="!isMeetingStarted" class="container">
  <form [formGroup]="nameForm" (ngSubmit)="startMeeting()" class="form">
    <div>
      <h1>Start Meeting</h1>
      <div>
        <label for="name">Participant Name:</label>
        <input
          placeholder="Enter your name"
          type="text"
          formControlName="name"
          id="name"
        />
      </div>
      <div class="startMeeting-container">
        <button type="submit" class="startBtn">Start Meeting</button>
      </div>
    </div>
  </form>
</div>
<ng-container *ngIf="isMeetingStarted">
  <div class="os-main-content">
    <header class="header">
      <div class="left-header">
        <button class="grid-view" matTooltip="View">
          <i class="far fa-th-large"></i>
        </button>
        <div *ngIf="isScreenRecording" class="screen-recording">
          <i class="far fa-record-vinyl"></i>
          <div class="timer">{{ recordingTime }}</div>
        </div>
      </div>
      <div class="right-header">
        <button class="menu" matTooltip="Menu">
          <span class="material-symbols-outlined"> segment </span>
        </button>
        <button
          class="people"
          matTooltip="Participants"
          (click)="openParticipantSideWindow()"
        >
          <i class="fal fa-user-friends"></i>
        </button>

        <button class="chat" matTooltip="Chat" (click)="openChatSideWindow()">
          <i class="far fa-comment-lines"></i>
        </button>
        <button class="emojis" matTooltip="React">
          <span class="material-symbols-outlined"> emoji_language </span>
        </button>
        <button class="more" matTooltip="More">
          <i class="fas fa-ellipsis-h"></i>
        </button>
        <div class="line"></div>
        <button class="video" (click)="toggleVideo()">
          <i
            class="fas"
            [ngClass]="{
              'fa-video-slash': isVideoOn,
              'fa-video': !isVideoOn
            }"
          ></i>
        </button>
        <button class="mic" (click)="toggleMic()">
          <i
            class="fas"
            [ngClass]="{
              'fa-microphone': !isMicOn,
              'fa-microphone-slash': isMicOn
            }"
          ></i>
        </button>
        <button class="share" (click)="toggleScreenShare()">
          <span class="material-symbols-outlined" *ngIf="!isScreenSharing">
            screen_share
          </span>
          <span
            class="material-symbols-outlined"
            *ngIf="isScreenSharing"
            [ngStyle]="{ color: iconColor }"
          >
            stop_screen_share
          </span>
        </button>
        <button class="leave-btn">
          <div class="phone-icon">
            <!-- <span class="material-symbols-outlined"> call_end </span> -->
          </div>
          <h2>Leave</h2>
          <div class="chevron-icon"><i class="fas fa-chevron-down"></i></div>
        </button>
      </div>
    </header>

    <ng-container
      *ngIf="
        isScreenSharing === true ||
        this.livekitService.remoteScreenShare === true
      "
    >
      <div class="lk-focus-layout-wrapper">
        <div class="lk-focus-layout"></div>
      </div>
    </ng-container>
    <div
      class="lk-grid-layout-wrapper"
      [ngClass]="{
        'screen-share-layout-wrapper':
          isScreenSharing === true ||
          this.livekitService.remoteScreenShare === true
      }"
    >
      <div
        class="lk-grid-layout"
        [ngClass]="{
          'screen-share-layout':
            isScreenSharing === true ||
            this.livekitService.remoteScreenShare === true
        }"
        [style.grid-template-columns]="GalleryGridColumnStyle"
      ></div>
    </div>
    <!-- modal to show a person is already sharing screen  -->

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Another participant is already sharing its screen.</p>
      </div>
    </div>
  </div>

  <div class="closeChatSideWindow" (click)="closeChatSideWindow()">
    <div *ngIf="chatSideWindowVisible" class="chat-side-window-container">
      <div class="chat-side-window" (click)="$event.stopPropagation()">
        <div class="chat-detail">
          <div class="os-content-card-nav">
            <div class="chat-head">
              <h2>Chat</h2>
            </div>
          </div>
          <div class="os-content-card-body">
            <div class="os-content-body">
              <div class="main-sender">
                <div class="send">
                  <div class="msg-tym">12:01am</div>
                  <div class="msg-detail">Lorem</div>
                </div>
              </div>
              <div class="main-receiver">
                <div class="receive">
                  <div class="avatar">
                    <p>WR</p>
                  </div>
                  <div class="receive-msg">
                    <div class="head">
                      <div class="receiver-name">Warda Rasool</div>
                      <div class="msg-tym">12:00am</div>
                    </div>
                    <div class="msg-detail">Lorem ipsum</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form
            [formGroup]="chatForm"
            (ngSubmit)="sendMessage()"
            class="os-content-card-footer"
          >
            <!-- <form
              [formGroup]="chatForm"
              (ngSubmit)="sendMessage()"
            > -->
            <div class="add"><i class="fas fa-plus"></i></div>
            <div class="search">
              <input
                type="text"
                class="sendTerm"
                placeholder="send a message"
                formControlName="message"
              />
              <div class="emoji">
                <i class="fas fa-face-smile"></i>
              </div>
            </div>
            <button type="submit" class="sendButton">
              <i class="send fas fa-paper-plane"></i>
            </button>
            <!-- </form> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- html structure for creating video elments  -->
<!-- <div class="lk-grid-layout-wrapper">
  <div
    id="remoteVideoContainer"
    class="lk-grid-layout"
    [style.grid-template-columns]="GalleryGridColumnStyle"
  >
    <div class="" *ngIf="attachedTrack">
      <video id="videoElement" class="lk-participant-tile video-element">
        {{ attachedTrack }}
      </video>
      <div class="lk-participant-metadata">
        <div class="lk-participant-metadata-item">
          <span class="lk-participant-name">Participant Name</span>
        </div>
      </div>
    </div>
  </div>
</div> -->
