.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100% !important;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 24rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    h1 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 10px;
    }
}

/* Style each form control to be on a new line */
.form div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    display: block;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    border: 1px solid #999;

    &:focus {
        outline: none;
    }

}

.startMeeting-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.startBtn {
    background-color: rgb(0, 28, 128);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: darkblue;
    }
}

// ==================================================================
.header {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 20px;
    grid-row: 1/2;
    grid-column: 1/13;
    display: flex;
    height: 45px;
    justify-content: space-between;
    gap: 10px;

    i {
        color: #767676;
        font-size: 18px;
    }

    .material-symbols-outlined {
        color: #909092;
        display: flex;
        align-items: center;
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }

    .left-header {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .right-header {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .screen-recording {
        display: flex;
        grid-column: 2/3;
        gap: 6px;

        i {
            color: #ad3d63;
            display: flex;
            align-items: center;
        }

        .timer {
            color: #909092;
            font-size: 16px;
        }
    }

    button {
        border: none;
        background: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #ededed;
            border-radius: 8px;
        }
    }

    .more {
        i {
            // width: 30px;
            height: 30px;
            // border-right: 1px solid #909092;
        }
    }

    .line {
        // width: 30px;
        height: 30px;
        border-right: 1px solid #909092;
    }

    .mic,
    .video,
    .leave-btn,
    .more,
    .video,
    .timer,
    .share,
    .emojis,
    .chat,
    .people,
    .grid-view,
    .menu,
    .screen-recording {
        display: flex;
        align-items: center;

        i {
            display: flex;
            align-items: center;
        }
    }

    .video,
    .mic,
    .share {
        i {
            color: black;
        }

        .material-symbols-outlined {
            color: black;
        }
    }

    .phone-icon,
    .chevron-icon {
        i {
            color: white;
            font-size: 14px;
        }

        .material-symbols-outlined {
            font-size: 20px;
            color: white;
        }
    }

    .leave-btn {
        display: flex;
        background-color: #d62b51;
        width: 120px;
        align-items: center;
        gap: 8px;
        justify-content: center;
        height: 35px;
        border-radius: 6px;

        h2 {
            color: white;
            font-weight: 500;
            font-size: 16px;
        }

        .chevron-icon {
            padding-left: 14px;
        }
    }
}

// video {
//     height: 80vh;
//     width: 100%;
// }

// #remoteVideoContainer {
//     height: 500px;
//     width: 100%;
// }


// ===================gallery ====================== 
.screenshare-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #2b2b2b;
    width: 100%;
    gap: 10px;
    align-items: center;
    grid-column: 1/13 !important;

    .grid-item1 {
        grid-column: span 10;
        position: relative;
        height: 85vh;


        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .person-name {
            position: absolute;
            bottom: 5px;
            left: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            border-radius: 5px;
            padding: 0.2rem 1rem;

        }
    }

    .grid-item2 {
        grid-column: span 2;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 2px 8px;

        .person-with-video {
            flex: 1 0 200px;

            .img-with-title {
                position: relative;
            }

            // img {
            //     width: 100%;
            //     height: 20vmin;
            //     object-fit: cover !important;
            //     flex-grow: 1;
            // }

            .person-name {
                position: absolute;
                bottom: 10px;
                left: 5px;
                background-color: rgba(0, 0, 0, 0.5);
                color: #fff;
                border-radius: 5px;
                padding: 0.1rem 0.5rem;
                font-size: 13px;
            }
        }
    }



    // .grid-item3 {
    //   grid-column: span 3;
    //   position: relative;
    //   display: flex;
    //   flex-flow: row wrap;
    //   justify-content: center;
    //   gap: 5px 8px;




    // }
}

.screen-off-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #000;
    gap: 4px;
    row-gap: 0px;

    .grid-item {
        flex: 1 0 300px;
        max-width: 600px;

        .img-with-title {
            position: relative;
        }

        img {
            // width: 100%;
            // height: 330px;
            // object-fit: cover;
            // height: 278px;
            // max-width: 497px;
            // border: 5px solid red;
        }

        .person-name {
            position: absolute;
            bottom: 20px;
            left: 30px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            border-radius: 5px;
            padding: 0.2rem 1rem;

        }
    }

}

.person-without-video {
    position: relative;
    flex: 1 0 120px;
    margin-bottom: 3px;

    .s-share {
        width: 100%;
        height: 150px;
        object-fit: cover;
        flex-grow: 1;
        margin-top: 5px;
    }

    .round-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        border: 2px solid #999;
        border-radius: 10px;

        img {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            object-fit: cover;
            outline: 3px solid #ada23d;
            border: 2px solid transparent;
        }

        p {
            font-size: 40px;
            color: #2b2b2b;
            background-color: #d5ddc7;
            border-radius: 100%;
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: 3px solid #ada23d;
            border: 2px solid transparent;

        }
    }
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 5px;
}

.video-container-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin: 5px;
}

.video-container-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin: 5px;
}

.person-name {
    position: absolute;
    bottom: 50px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
    padding: 0.2rem 1rem;
}

.participant-name {
    position: absolute;
    bottom: 80px;
    left: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
    padding: 0.2rem 1rem;

}

/* Style individual video elements */
// #remoteVideoContainer {
//     margin: 0;
//     padding: 0;
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
//     grid-gap: 10px;
//     justify-items: center;
//     align-items: center;
//     height: 100vh;
// // }
// #remoteVideoContainer {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
//     grid-gap: 10px;
//     justify-items: center;
//     align-items: center;
//     height: 100vh;
// }

.box {
    width: 100%;
    height: 100%;
}

.participant-video-wrapper {
    position: relative;
}

// video {
//     width: 250px;
//     height: 100%;
//     position: relative;
//     background-color: black;
// }

.participant-info {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

#video-preview {
    width: 250px;
    height: 100%;
    margin: 5px;
}

.avatar-name {
    width: 250px;
    height: 100%;
    margin: 5px;

    img {
        height: 25px;
        width: 25px;
        border-radius: 100%;
        object-fit: cover;
    }
}

.participant-video {
    width: 250px;
    height: 100%;
    margin: 5px;
}

.ss-container {
    width: 78%;
    height: 80vmin;
    position: absolute;
    top: 8%;
    left: 2px;
    margin: 5px;
}

// modal styling 

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 43%;
    text-align: center;
    padding: auto 10px;
    border-radius: 10px;

    p {
        font-size: 1.5rem;
        margin: 10px;
        font-weight: 500;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.lk-grid-layout-wrapper {
    grid-column: 1 / 13 !important;
    grid-row: 2 / 3 !important;
    --lk-control-bar-height: 85px !important;
    align-items: center !important;
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
    padding: 20px !important;

    .lk-grid-layout {
        --lk-grid-gap: 0.5rem !important;
        display: grid !important;
        grid-auto-rows: minmax(0, 1fr) !important;
        grid-gap: var(--lk-grid-gap) !important;
        width: 100% !important;
        height: 100% !important;
        max-width: 100% !important;
        max-height: 100% !important;
    }

    .lk-participant-tile {
        position: relative !important;
        display: flex !important;
        flex-direction: column !important;
        gap: 0.375rem !important;
        overflow: hidden !important;
        border-radius: 0.5rem !important;
    }

    .video-element {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
        object-position: center !important;
        background-color: #000 !important;
        object-fit: cover !important;
    }

    .lk-participant-metadata {
        position: absolute !important;
        right: 0.25rem !important;
        bottom: 0.25rem !important;
        left: 0.25rem !important;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-between !important;
        gap: 0.5rem !important;
        line-height: 1 !important;
    }

    .lk-participant-metadata-item {
        display: flex !important;
        align-items: center !important;
        padding: 0.25rem !important;
        background-color: rgba(0, 0, 0, 0.5) !important;
        border-radius: calc(var(--lk-border-radius) / 2) !important;
    }

    .lk-participant-name {
        font-size: 0.875rem !important;
        color: white !important;
    }

}

.os-main-content {
    // grid-row: 2 / 3;
    // grid-column: 2 / 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: [nav] 65px 675px;
    overflow: hidden;
    background-color: hsl(233, 100%, 98%);
}

// ==================================